.choice-container {
    position: absolute;
    font-size: 19px;
    bottom: 40%;
    left: 50%;
    /* width: 60%; */
    flex-direction: column-reverse;
    z-index: 1;
    color: white;   
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
}

.choice-option {
    margin-bottom: 20px;
}


