@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PIXEL-CRAFT';
  src: url('/assets/fonts/PixelifySans-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'PRESS-START-2P';
  src: url('/assets/fonts/PressStart2P-Regular.ttf');
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow: hidden;
  background: rgb(89, 89, 127);
}

body {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

canvas{
  height: 100vh;
  width: 100vw;
  touch-action: none;
}

.menuBar {
  position:absolute;
  left: 94%;
  margin-top: 1.5%;
}

.bss {
  top: 0px; 
  left: 0px; 
  /* background: #aaa; */
  /* padding: 8px; */
  /* border: 3px solid #000; */
  position: absolute;
  /* display: flex; */
  /* gap: 8px; */
}


/* 
.texture-selector.hidden {
  display: none;
}



.texture-selector img.selected {
  border-color: red;
} */