#sidebar li {
  background-color: rgb(32, 28, 28);
  color: gray;
  line-height: 20px;
  text-align: center;
  display: block;
  margin: 24px;
  padding: 20px;
  list-style: none;
  transition: .2s;
  min-width: 150px;


  border-right: 4px solid rgb(18, 18, 18);
  border-top: 4px solid rgb(69, 67, 67);
  border-bottom: 4px solid rgb(18, 18, 18);

  box-shadow: -3px 0 0 0 black,
    3px 0 0 0 black,
    0 -3px 0 0 black,
    0 3px 0 0 black;

}

#sidebar li:hover {
  /* line-height: 22px; */
  background-color: rgb(29, 25, 25);
  color: yellow;
  text-shadow: 1px 3px 20px rgb(255, 255, 115);

  border-top: 3px solid rgb(44, 44, 44);
  border-right: 3px solid rgb(18, 18, 18);
  border-bottom: 3px solid rgb(18, 18, 18);

  box-shadow: -2px 0 0 0 black,
    2px 0 0 0 black,
    0 -2px 0 0 black,
    0 2px 0 0 black;


}


#sidebar li:active {
  color: yellow;
  text-shadow: 1px 3px 20px rgb(255, 255, 115);
  background-color: rgb(23, 20, 20);
  border-top: 3px solid black;
  border-left: 3px solid black;
  border-right: 4px solid rgb(20, 17, 17);
  border-bottom: 4px solid rgb(20, 17, 17);

  box-shadow: -2px 0 0 0 black,
    -2px 0 0 0 black,
    0 -2px 0 0 black,
    0 0 0 0 black
}






