html {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: absolute;
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bar {
  width: 30rem;
  min-width: 30rem;
  max-width: 30rem;
  height: 3rem;
  min-height: 3rem;
}

.etiquetaH1 {
  font-size: 1.5rem;  
  margin-top: 20px; 
}
